* {
    margin: 0;
    padding: 0;
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

@import "./base/base";
@import "./components/components";
@import "./layout/layout";

body {
    font-family: "Montserrat", sans-serif;
}
