@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 83px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 2px solid #f7f6fb;
}

.header__wrapper {
  width: 1200px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__title h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #1e174d;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.75%;
}

.header__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__link {
  margin: 0 0 0 20px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 80px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #1e174d;
}

.sidebar__top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar .avatar {
  margin: 25px 0 20px 0;
  width: 36px;
  height: 36px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid #6f61d0;
  -webkit-filter: drop-shadow(0px 0px 4px rgba(126, 134, 239, 0.15));
          filter: drop-shadow(0px 0px 4px rgba(126, 134, 239, 0.15));
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.sidebar .avatar__img {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.sidebar .avatar__img img {
  height: 100%;
}

.sidebar .avatar:hover {
  border-color: #ffffff;
}

.sidebar__divider {
  width: 54px;
  height: 2px;
  background-color: #6f61d0;
  opacity: 0.1;
  border-radius: 18px;
}

.sidebar__nav {
  margin: 25px 0 0 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar__link {
  padding: 13px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.sidebar__link::after {
  content: "";
  display: block;
  width: 2px;
  height: 0;
  position: absolute;
  left: 0;
  background-color: #6f61d0;
  border-radius: 0px 2px 2px 0px;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

.sidebar__link:hover .sidebar__prompt {
  opacity: 1;
  pointer-events: all;
  z-index: 10;
}

.sidebar__link:hover::after {
  height: 40px;
}

.sidebar__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebar__logout {
  margin: 25px 0 40px 0;
}

.sidebar__prompt {
  padding: 5px 10px;
  position: absolute;
  left: calc(100% + 5px);
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(30, 23, 77, 0.8)), to(rgba(30, 23, 77, 0.8)));
  background: linear-gradient(0deg, rgba(30, 23, 77, 0.8), rgba(30, 23, 77, 0.8));
  border: 1px solid #6f61d0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  z-index: -10;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

.sidebar__prompt p {
  font-size: 16px;
  color: #ffffff;
}

.link_active::after {
  height: 40px;
  background-color: #ffffff;
}

.link_active svg path {
  stroke: #ffffff;
}

.link_active svg ellipse {
  stroke: #ffffff;
}

.pageContent {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pageWrapper {
  padding: 40px 0 0 0;
  width: 1200px;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.tasks {
  margin: 0 0 0 30px;
  width: 910px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.tasks__menu {
  width: 350px;
}

.tasks__content {
  width: 510px;
}

.tasks__list {
  width: 100%;
  height: 510px;
  overflow-y: scroll;
}

.group_yellow .point_active {
  background-color: #e2d341 !important;
}

.group_yellow .group::before {
  background-color: #e2d341;
}

.group_green .point_active {
  background-color: #61d0a7 !important;
}

.group_green::before {
  background-color: #61d0a7 !important;
}

.group_red .point_active {
  background-color: #c05d97 !important;
}

.group_red::before {
  background-color: #c05d97;
}

.group_purple .point_active {
  background-color: #6f61d0;
}

.group_purple::before {
  background-color: #6f61d0;
}

.taskcreator {
  padding: 0 16px 0 30px;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: #ffffff00;
  border: 1px solid #6f61d0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 15px;
}

.taskcreator__date p {
  font-weight: 500;
  font-size: 18px;
  color: #6f61d0;
}

.taskcreator__btn button {
  padding: 7px 15px;
  background: #ffffff00;
  border: 1px solid #6f61d0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  font-weight: 400;
  font-size: 14px;
  color: #6f61d0;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.taskcreator__btn button:hover {
  background-color: #6f61d0;
  color: #ffffff;
}

.list {
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.list__header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list__person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list__icon {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  border: 2px solid #ffffff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 0px 4px rgba(126, 134, 239, 0.15));
          filter: drop-shadow(0px 0px 4px rgba(126, 134, 239, 0.15));
}

.list__iconImg {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.list__iconImg img {
  height: 100%;
}

.list__info {
  margin: 0 0 0 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.list__name p {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.0075em;
  color: #04030a;
}

.list__specialization p {
  font-weight: 400;
  font-size: 15px;
  color: #9895a7;
}

.list__btn button {
  padding: 7px 15px;
  background: #ffffff00;
  border: 1px solid #6f61d0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 100px;
  font-weight: 400;
  font-size: 14px;
  color: #6f61d0;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.list__btn button:hover {
  background-color: #6f61d0;
  color: #ffffff;
}

.list__divider {
  margin: 20px 0;
  width: 100%;
  height: 1px;
  background-color: #e6e2f9;
}

.task {
  margin: 0 0 40px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.task input {
  display: none;
}

.task input:checked + label {
  border-color: #6f61d0;
  background-color: #6f61d0;
}

.task input:checked + label:hover {
  border-color: #a59ce2;
  background-color: #a59ce2;
}

.task__label {
  width: 28px;
  height: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #ffffff00;
  border: 1px solid #9e97be;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 40px;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  cursor: pointer;
}

.task__label:hover {
  border-color: #6f61d0;
}

.task__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.task__info {
  margin: 0 0 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.task__title p {
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.0075em;
  color: #04030a;
}

.task__sub p {
  font-weight: 400;
  font-size: 16px;
  color: #9895a7;
}

.task__link a {
  font-size: 16px;
  color: #9895a7;
  text-decoration: none;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.task__link a::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;
  background-color: #fff;
  background: rgba(152, 149, 167, 0.5);
  border-radius: 5px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.task__link a:hover {
  color: #6f61d0;
}

.task__link a:hover::after {
  background: #6f61d0;
}

#group-2 {
  display: none;
}

.calendarPage {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calendar {
  width: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.calendar__days {
  margin: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calendar__days p {
  width: 32px;
  font-weight: 600;
  font-size: 16px;
  text-align: center;
  color: #1e174d;
}

.calendar__title {
  margin: 0 0 20px 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.calendar__today p {
  font-weight: 500;
  font-size: 18px;
  text-transform: lowercase;
  color: #6f61d0;
}

.calendar__today p span {
  font-weight: 400;
}

.calendar__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.calendar__nav button {
  margin: 0;
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  background-color: #ffffff00;
  cursor: pointer;
}

.calendar__nav button img {
  width: 24px;
  height: 24px;
}

.calendar__divider {
  margin: 20px 0 30px 0;
  width: 100%;
  height: 1px;
  background: #f7f6fb;
  border-radius: 10px;
}

.string {
  width: 100%;
  margin: 5px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.date {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.12s ease;
  transition: all 0.12s ease;
}

.date p {
  text-align: center;
}

.date:hover {
  background-color: #A59CE2;
  color: #ffffff;
}

.current_date {
  color: #309a74;
}

.date-secondary p {
  color: #c8c8c8;
}

.warnigTitle p {
  font-weight: 400;
  font-size: 16px;
  color: #d06361;
}

.warningList {
  margin: 5px 0 0 0;
  list-style: none;
}

.warningList li {
  font-weight: 400;
  font-size: 17px;
  line-height: 140%;
  color: #736f8b;
}

.warningList li::before {
  content: "• ";
}

.warningLink {
  margin: 20px 0 0 0;
}

.warningLink a {
  font-size: 16px;
  color: #9895a7;
  text-decoration: none;
}

.warningLink a::after {
  content: "";
  display: block;
  width: 157px;
  height: 1px;
  background-color: rgba(152, 149, 167, 0.5);
  border-radius: 5px;
}

.data_active {
  background-color: #6f61d0;
  color: #ffffff;
}

.tasks__menu {
  width: 350px;
}

.taskGroup {
  width: 100%;
}

.taskGroup input[type="radio"] {
  display: none;
}

.taskGroup input[type="radio"]:checked + .group {
  background-color: #6f61d0;
}

.taskGroup input[type="radio"]:checked + .group .group__title p {
  color: #ffffff;
}

.taskGroup input[type="radio"]:checked + .group .group__counter p {
  color: #c9c4ed;
}

.taskGroup input[type="radio"]:checked + .group .group__point {
  background-color: #8175d6;
}

.taskGroup input[type="radio"]:checked + .group .group__btn {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}

.taskGroup input[type="radio"]:checked + .group.group_purple .point_active {
  background-color: #ffffff !important;
}

.taskGroup input[type="radio"]:checked + .group.group_purple::before {
  background-color: #ffffff;
}

.taskGroup input[type="radio"]:checked + .group:hover .group__btn {
  background-color: #fff;
}

.taskGroup input[type="radio"]:checked + .group:hover .group__btn svg path {
  stroke: #1e174d;
}

.taskGroup .group {
  padding: 0 40px 0 30px;
  margin: 20px 0 0 0;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #ffffff00;
  border: 1px solid #f7f6fb;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  -webkit-box-shadow: 0px 0px 4px rgba(111, 97, 208, 0.14);
          box-shadow: 0px 0px 4px rgba(111, 97, 208, 0.14);
  border-radius: 15px;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.taskGroup .group__title p {
  font-weight: 500;
  font-size: 16px;
  color: #1e174d;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.taskGroup .group__counter p {
  font-weight: 300;
  font-size: 16px;
  color: #9895a7;
}

.taskGroup .group__counter p span {
  letter-spacing: 2px;
}

.taskGroup .group__btn {
  position: absolute;
  right: -16px;
  top: calc(50% - 16px);
  width: 32px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  background-color: #ffffff;
  -webkit-filter: drop-shadow(0px 0px 4px rgba(111, 97, 208, 0.14));
          filter: drop-shadow(0px 0px 4px rgba(111, 97, 208, 0.14));
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  z-index: 10;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.taskGroup .group__btn svg path {
  stroke: #1e174d;
}

.taskGroup .group__btn:hover {
  background-color: #6f61d0;
}

.taskGroup .group__btn:hover svg path {
  stroke: #ffffff;
}

.taskGroup .group__btn_disabled svg path {
  stroke: #bbbbbb;
}

.taskGroup .group__btn_disabled:hover {
  background-color: #ffffff;
}

.taskGroup .group__btn_disabled:hover svg path {
  stroke: #bbbbbb;
}

.taskGroup .group:hover .group__btn {
  background-color: #6f61d0;
}

.taskGroup .group:hover .group__btn svg path {
  stroke: #ffffff;
}

.taskGroup .group::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  width: 3px;
  height: 40px;
  background: #e2d341;
  border-radius: 0px 2px 2px 0px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.taskGroup .group__header {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.taskGroup .group__progress {
  margin: 18px 0 0 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.taskGroup .group__point {
  height: 6px;
  background-color: #f7f6fb;
  border-radius: 50px;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
